// 这里用来存放组件改变的样式，因为在每一个vue文件里 样式中大多有scoped属性  它只能被当前文件引用
//由于组件是有权限的，当我们修改一些组件的样式时，会被限制，此时加上！important 会解决这个问题
.el-submenu .el-menu-item{
    font-size: 14px; 
    padding-left: 64px !important; 
    &.is-active {background-color: rgba(245,108,108,.2) !important;}
}

li.el-submenu{
    &.is-active.is-opened .el-submenu__title{
        background-color: #f56c6c !important;
    }
}

.el-menu-vertical-demo{
 border-style: none;
}

//table样式
div.el-table {
    td div,th div { text-align: center; }
    th{
        font-weight: bold;
        color:#344a5f;
    }
}


//table样式
.el-dialog__body{
    padding: 30px 47px !important;
}
.el-dialog__footer{
    text-align: center !important;
    .el-button{
        width:150px;
        font-size: 15px;
        margin:0 11px;
    }
}

div.el-form-item{
    margin-bottom: 22px;
}

//form样式
.el-form{
    .el-form-item:last-child{
        margin-bottom: 0 !important;
    }
}

